{
  "reporter": ["json", "text-summary"],
  "all": true,
  "exclude": [
    "coverage/**",
    "docs/**",
    "packages/*/test{,s}/**",
    "**/*.d.ts",
    "test{,s}/**",
    "test{,-*}.{js,cjs,mjs,ts}",
    "**/*{.,-}test.{js,cjs,mjs,ts}",
    "**/__tests__/**",
    "**/{karma,rollup,webpack}.config.js",
    "**/{babel.config,.eslintrc,.mocharc}.{js,cjs}",
    "lib/browser/**",
    "package-scripts.js",
    "package-lock.json",
    "**/package-lock.json",
    "node_modules/**",
    "scripts/**"
  ]
}
