{
  "reporter": [
    "json",
    "text-summary"
  ],
  "exclude": [
    "coverage/**",
    "packages/*/test{,s}/**",
    "**/*.d.ts",
    "test{,s}/**",
    "test{,-*}.{js,cjs,mjs,ts}",
    "**/*{.,-}test.{js,cjs,mjs,ts}",
    "**/__tests__/**",
    "**/{karma,rollup,webpack}.config.js",
    "**/{babel.config,.eslintrc,.mocharc}.{js,cjs}",
    "lib/browser/**",
    "package-scripts.js",
    "scripts/**"
  ]
}
