# in order to use 'trusty' dist, need this.
# see https://docs.travis-ci.com/user/trusty-ci-environment/
sudo: required

# trust dist provides a modern build chain (as opposed to 'precise' dist)
# which absolves us from having to install compilers and stuff
dist: trusty

language: node_js

env:
  global: PHANTOMJS_CDNURL='https://cnpmjs.org/downloads'

matrix:
  fast_finish: true
  include:
    - node_js: '6'
      env: TARGET='clean lint test-node test-browser'
    - node_js: '5'
      env: TARGET=test-node
    - node_js: '4'
      env: TARGET=test-node
    - node_js: 'iojs'
      env: TARGET=test-node
    - node_js: '0.12'
      env: TARGET=test-node
    - node_js: '0.11'
      env: TARGET=test-node
    - node_js: '0.10'
      env: TARGET=test-node

script: travis_retry make $TARGET

notifications:
  urls:
    # for gitter
    - secure: "nSYqkR0NKB/vB3PsPS+7+U2ZGhP+NbqFncPPZxsGb0TeRvuRL62BemEZGs5+VsajutCN8Dn/yXSIWkYZ6ivZt8xSQ9vk2OnboBMPH/e8P9t+6BBUyIb4ztJuHbsUyx1POYFyukT2TiqRuEGvUUACeXH0OIrWNPt254DipDhe2P0="
  on_success: change
  on_failure: always

cache:
  directories:
    - node_modules/phantomjs/lib/phantom

addons:
  artifacts: true
