environment:
  matrix:
    - nodejs_version: '8'
    - nodejs_version: '7'
    - nodejs_version: '6'
    - nodejs_version: '4'
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - set PATH=%APPDATA%\npm;c:\MinGW\bin;%PATH%
  - set PHANTOMJS_CDNURL=https://cnpmjs.org/downloads
  - npm install -g npm
  - npm install
  - copy c:\MinGW\bin\mingw32-make.exe c:\MinGW\bin\make.exe
matrix:
  fast_finish: true
build: off
version: '{build}'
shallow_clone: true
clone_depth: 1
test_script:
  - node --version
  - npm --version
  - make test-node
skip_commits:
  message: /\[ci\s+skip\]/

