
body {
  font: 20px/1.5 "Helvetica Neue", Helvetica, Aria;, sans-serif;
  padding: 60px 50px;
}

#mocha h1, h2 {
  margin: 0;
}

#mocha h1 {
  font-size: 1em;
  font-weight: 200;
}

#mocha .suite .suite h1 {
  font-size: .8em;
}

#mocha h2 {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}

#mocha .suite {
  margin-left: 15px;
}

#mocha .test {
  margin-left: 15px;
}

#mocha .test:hover h2::after {
  position: relative;
  top: 0;
  right: -10px;
  content: '(view source)';
  font-size: 12px;
  color: #888;
}

#mocha .test.pass::before {
  content: '✓';
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #00c41c;
}

#mocha .test.pending {
  color: #0b97c4;
}

#mocha .test.pending::before {
  content: '◦';
  color: #0b97c4;
}

#mocha .test.fail {
  color: #c00;
}

#mocha .test.fail pre {
  color: black;
}

#mocha .test.fail::before {
  content: '✖';
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 5px;
  color: #c00;
}

#mocha .test pre.error {
  color: #c00;
}

#mocha .test pre {
  display: inline-block;
  font: 12px/1.5 monaco, monospace;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  border-bottom-color: #ddd;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #eee;
}

#error {
  color: #c00;
  font-size: 1.5  em;
  font-weight: 100;
  letter-spacing: 1px;
}

#stats {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 12px;
  margin: 0;
  color: #888;
}

#stats .progress {
  margin-bottom: 10px;
}

#stats em {
  color: black;
}

#stats li {
  list-style: none;
}