---
interface Supporter {
  imgUrlMed: string;
  imgUrlSmall: string;
  imgUrlLarge: string;
  name: string;
  website: string;
}

interface Props {
  data: Supporter[];
  size: "small" | "medium" | "large";
}

const { data, size } = Astro.props;
---

<div class:list={["supporters", `supporters-${size}`]}>
  {
    data.map((supporter) => (
      <a class="supporter" href={supporter.website}>
        <img
          alt={supporter.name}
          class="supporter-image"
          src={
            size === "small"
              ? supporter.imgUrlSmall
              : size === "medium"
              ? supporter.imgUrlMed
              : supporter.imgUrlLarge
          }
        />
      </a>
    ))
  }
</div>

<style>
  .supporters {
    display: flex;
    gap: var(--supporterSpacing);
    padding: var(--supporterSpacing) 0;
  }

  .supporters-small {
    --supporterSpacing: 0.25rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .supporters-medium {
    --supporterSpacing: 1rem;
    align-items: center;
    flex-direction: column;
  }

  .supporters-large {
    --supporterSpacing: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .supporter {
    background: var(--mocha-color-backdrop);
    padding: var(--supporterSpacing);
    user-select: none;
  }

  .supporters-small img.supporter-image {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
  }

  .supporters-medium img.supporter-image {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
  }

  .supporters-large img.supporter-image {
    height: 8rem;
    width: 24rem;
    object-fit: contain;
  }
</style>
