name: Tests

on:
  push:
    branches:
      - main
    paths-ignore: ["*.md", "docs/**"]
  pull_request:
    branches:
      - main
    paths-ignore: ["*.md", "docs/**"]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write # for Codecov OIDC

jobs:
  format:
    uses: ./.github/workflows/npm-script.yml
    with:
      npm-script: format

  lint:
    uses: ./.github/workflows/npm-script.yml
    with:
      npm-script: lint

  smoke:
    uses: ./.github/workflows/npm-script.yml
    with:
      node-versions: "20,22,24"
      npm-script: test-smoke

  test-node-lts:
    # TODO: Restore "mocha-github-actions-reporter" style reporting without relying on third party module
    uses: ./.github/workflows/npm-script.yml
    needs: smoke
    strategy:
      fail-fast: false
      matrix:
        test-part:
          - interfaces
          - unit
          - integration
          - jsapi
          - requires
          - reporters
          - only
    with:
      npm-script: test-node:${{ matrix.test-part }}

  test-node-all:
    name: Test ${{ matrix.test-part }} in all environments
    permissions:
      id-token: write # for Codecov OIDC
      contents: read # for Codecov OIDC
    # TODO: Restore "mocha-github-actions-reporter" style reporting without relying on third party module
    uses: ./.github/workflows/npm-script.yml
    needs: test-node-lts
    strategy:
      fail-fast: false
      matrix:
        coverage: [true]
        test-part:
          - interfaces
          - unit
          - integration
          - requires
          - reporters
          - only
        include:
          - test-part: jsapi
            coverage: false
    with:
      os: "ubuntu-latest,windows-latest"
      # We pin exact versions here per https://github.com/mochajs/mocha/issues/5052
      # Ref https://nodejs.org/en/about/previous-releases
      node-versions: "20.19.4,22.18.0,24.6.0"
      npm-script: test-node:${{ matrix.test-part }}
      coverage: ${{ matrix.coverage }}

  test-browser-local:
    uses: ./.github/workflows/npm-script.yml
    with:
      browsers: ChromeHeadless
      npm-script: test-browser

  # test-browser-saucelabs:
  #   # Don't run forked 'pull_request' without saucelabs token
  #   if: github.event_name == 'push' || !github.event.pull_request.head.repo.fork
  #   needs:
  #     - lint
  #     - smoke
  #     - test-browser-local
  #   uses: ./.github/workflows/npm-script.yml
  #   secrets: inherit
  #   with:
  #     browsers: 'firefox@latest,chrome@latest,MicrosoftEdge@latest,safari@latest'
  #     npm-script: test-browser

  tsc:
    uses: ./.github/workflows/npm-script.yml
    with:
      npm-script: tsc
