name: Tests

on:
  push:
    branches:
      - main
    paths-ignore: ['*.md', 'docs/**']
  pull_request:
    branches:
      - main
    paths-ignore: ['*.md', 'docs/**']

permissions:
  contents: read

jobs:
  lint:
    uses: ./.github/workflows/npm-script.yml
    with:
      npm-script: lint

  smoke:
    uses: ./.github/workflows/npm-script.yml
    with:
      node-versions: '14,22,lts/*'
      npm-script: test-smoke

  test-node-lts:
    # TODO: Restore "mocha-github-actions-reporter" style reporting without relying on third party module
    uses: ./.github/workflows/npm-script.yml
    needs: smoke
    strategy:
      fail-fast: false
      matrix:
        test-part:
          - interfaces
          - unit
          - integration
          - jsapi
          - requires
          - reporters
          - only
    with:
      npm-script: test-node:${{ matrix.test-part }}

  test-node-all:
    # TODO: Restore "mocha-github-actions-reporter" style reporting without relying on third party module
    uses: ./.github/workflows/npm-script.yml
    needs: test-node-lts
    strategy:
      fail-fast: false
      matrix:
        test-part:
          - interfaces
          - unit
          - integration
          - jsapi
          - requires
          - reporters
          - only
    with:
      os: 'ubuntu-latest,windows-2019'
      node-versions: '14,16,18,20,22'
      npm-script: test-node:${{ matrix.test-part }}
      coverage: true

  test-node-upload-coverage:
    needs: test-node-all
    if: always()
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true

  test-browser-local:
    uses: ./.github/workflows/npm-script.yml
    with:
      browsers: ChromeHeadless
      npm-script: test-browser

  # test-browser-saucelabs:
  #   # Don't run forked 'pull_request' without saucelabs token
  #   if: github.event_name == 'push' || !github.event.pull_request.head.repo.fork
  #   needs:
  #     - lint
  #     - smoke
  #     - test-browser-local
  #   uses: ./.github/workflows/npm-script.yml
  #   secrets: inherit
  #   with:
  #     browsers: 'firefox@latest,chrome@latest,MicrosoftEdge@latest,safari@latest'
  #     npm-script: test-browser
