# Deploy `mochajs.org` branch nightly by hitting a netlify build URL.
# This updates the list of supporters

name: Nightly mochajs.org Deploy
on:
  push:
    branches: [boneskull/netlify-nightly-deploy]
  #  schedule:
  #  - cron: '0 0 * * *'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Webhook Action
        uses: joelwmale/webhook-action@1
        env:
          WEBHOOK_URL: ${{ secrets.NETLIFY_NIGHTLY_DEPLOY_URL }}
